<p>directives works!</p>
<!--<button routerLink></button>-->
<!--<button routerLinkActive></button>-->


<!--Non Structural Directives-->
<!--<p highlight [color]="'red'">parapraph</p>-->
<!--<h1 highlight [color]="'yellow'">h1</h1>-->
<!--<button highlight [color]="'blue'">button</button>-->
<!--<div highlight>asdas diasdasijd</div>-->
<!--<span highlight>button</span>-->
<!-- structural directives -->
<!--<div *ngIf="someCondition"></div>-->
<!--<ng-template [ngIf]="someConditional; else otherView">-->
<!--  <div></div>-->
<!--</ng-template>-->

<p
  *unless="false"
>SHOW THIS TEXT UNLESS</p>
