<h2>My tasks</h2>
<form
  [formGroup]="myTask"
  (ngSubmit)="addTask()"
>
  <div>
    <label>Name:</label>
    <input
      type="text"
      formControlName="name"
    >
  </div>
  <div>
    <label>Description</label>
    <textarea
      type="text"
      formControlName="description"
    >
  </textarea>
  </div>
  <button>add</button>
</form>


<hr>
<h2>Added Tasks</h2>

<div *ngFor="let task of myAddedTasks">
  <task
    [formControl]="task"
  ></task>
</div>

<button (click)="addedTasksStateCheck()">check state of added tasks</button>
