<div class="main">

<!--  <label for="username">Username</label>-->
<!--  <input-->
<!--    [formControl]="usernameControl"-->
<!--    id="username"-->
<!--    type="text"-->
<!--    [required]="usernameControl.invalid"-->
<!--  >-->
<!--  <small *ngIf="usernameControl.invalid">-->
<!--    {{usernameControl['errors']['error']}}-->
<!--  </small>-->

<!--  {{value}}-->

<!--  <hr/>-->
<!--  <label for="password">Password</label>-->
<!--  <input [formControl]="passwordControl" [placeholder]="'asd'" id="password" type="text">-->

<!--  <button-->
<!--    [disabled]="usernameControl.invalid ||-->
<!--    passwordControl.invalid"-->
<!--    (click)="onSubmit()">Login</button>-->

<!--  <form [formGroup]="registrationForm">-->

<!--    <ng-container-->
<!--      *ngFor="let control of registrationForm.controls"-->
<!--    >-->
<!--      <input type="text" [formControlName]="control.name">-->
<!--    </ng-container>-->

<!--    <button-->
<!--      [disabled]="!registrationForm.valid"-->
<!--    >submit</button>-->

<!--  </form>-->


  <div *ngFor="let taskForm of tasks">
    <input type="text" [formControl]="taskForm">
  </div>


</div>


