<div [ngSwitch]="screen">
  <div class="screen" *ngSwitchCase="1">
    <ng-template
      [ngTemplateOutlet]="screen1"
    ></ng-template>
  </div>
  <div class="screen" *ngSwitchCase="2">
<!--    <ng-template-->
<!--      [ngTemplateOutlet]="screen2"-->
<!--    ></ng-template>-->

    <div
     *ngTemplateOutlet="screen2; context: {$implicit: 'default', name: 'kiko'}"
    ></div>


  </div>
  <div class="screen" *ngSwitchCase="3">
    <ng-template
      [ngTemplateOutlet]="screen3"
    ></ng-template>
  </div>
</div>


<ng-template
  #screen1 >
  <div>
    Screen 1
  </div>
</ng-template>

<ng-template #screen2 let-context='name'>
  <div>
    {{context}}
    Screen 2
  </div>
</ng-template>

<ng-template #screen3>
  <div>
    Screen 3
  </div>
</ng-template>
